@import "../../common/stylus/mixin.styl"

.supports
  width: 80%
  margin: 0 auto
  .support-item
    padding: 0 12px
    margin-bottom: 12px
    font-size: 0
    &:last-child
      margin-bottom: 0
    .icon
      display: inline-block
      width: 16px
      height: 16px
      vertical-align: top
      margin-right: 6px
      background-size: 16px 16px
      background-repeat: no-repeat
      &.decrease
        bg-image('decrease_2')
      &.discount
        bg-image('discount_2')
      &.guarantee
        bg-image('guarantee_2')
      &.invoice
        bg-image('invoice_2')
      &.special
        bg-image('special_2')
    .text
      font-size: 12px
      line-height: 16px
